{%extends 'admins/admin_base.html'%}
{%block contents%}
 <!-- Header -->
	<header id="head">
	 <div class="container">
            <div class="banner-content">
                <div id="da-slider" class="da-slider">
                    <div class="da-slide">
                        <h2>Responsive Website</h2>
                        <p>Amazing free responsive website for free, use it for your personal or commercial needs</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Bootstrap</h2>
                        <p>Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework.</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>HTML5/CSS3</h2>
                        <p>HTML5 is a markup language used for structuring and presenting content for the World Wide Web.</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>JavaScript/jQuery</h2>
                        <p>jQuery: The Write Less, Do More, JavaScript Library.</p>
                        <div class="da-img"></div>
                    </div>

                </div>
            </div>
        </div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br>
		<h2>Implementation of Grey Scale Normalization in Machine Learning & Artificial Intelligence for Bioinformatics using Convolutional Neural Networks</h2>
		<p class="text-muted">
			Machine Learning is a trending field nowadays and is
very well known as an application of Artificial Intelligence (AI).
Machine learning makes use of secure arithmetical algorithms to
construct computers assignment in a constructive way without
being unequivocally programmed. The algorithms acquire
freedom of a participated value and estimate output for this by
utilizing definite arithmetical methods. The key function of
machine learning is to create smart machines that can visualize
and work related to human beings. Artificial Intelligence has been
witnessing a massive improvement in bridging the gap among the
capabilities of humans and technologies. Similarly, one of the
characteristics of the field were tried to combine the outstanding
effects. A Convolution Neural Network (CNN) is a sort of Deep
Learning algorithm which can obtain an input image, assign
consequence to different aspects in the image and capable to
differentiate one from the other. The pre-processing requirement
in a CNN is lesser as compared to other classification algorithms.
CNN has the capability to find out these filter’s characteristics.
Bioinformatics is a term that is a mixture of two terms bio and
informatics. Bio means associated with biology and informatics
means in a sequence of information. Thus bioinformatics is an
area that deals with handing out and accepting biological
statistics using the computational and arithmetical approaches.
Machine Learning has added up to of applications in the area of
bioinformatics. Machine Learning finds its submission in the
subsequent subfields of bioinformatics.
            The aim of this article is to perform a grayscale normalization of
a selected image and thereafter to reduce the effect of
illumination differences. Normalization is considered so that
CNN works in a faster manner. Different models are available
but Keras model is selected to perform this task. Keras supports
the style of data preparation for image statistics via the Image
Data Generator group and Application Programming Interface
(API). The Image Data Generator group in Keras provides a
matching set of techniques for scaling pixel standards in the
image dataset subsequent to modeling.
The Keras functional API provides an additional flexible
approach for significant models. It particularly allows identifying
several input or output models as well as models that allocate
layers.
		</p>
	</div>
	<!-- /Intro-->
	</div>
{%endblock%}