{%extends 'base.html'%}
{%block contents%}
<header id="head">
</header>
<div class="container text-center">
		<br>
		<h2>Implementation of Grey Scale Normalization in Machine Learning & Artificial Intelligence for Bioinformatics using Convolutional Neural Networks</h2>
		<p class="text-muted">
                    <h2 class="row justify-content-center text-dark"><i class="fa fa-sign-in-alt"
                                                                        style="color: #B8C6CC; pointer-events: none;">&nbsp;Admin
                        Log In</i></h2>
                    <form action="{%url 'AdminLoginCheck'%}" method="post" novalidate>
                        {%csrf_token%}

                        <div id="div_id_username" class="form-group"><label for="id_username" class=" requiredField">
                            Username<span class="asteriskField">*</span> </label>
                            <div><input type="text" name="loginid" required autofocus autocapitalize="none"
                                        autocomplete="username" maxlength="150" class="textinput textInput form-control"
                                        required id="id_username"></div>
                        </div>
                        <div id="div_id_password" class="form-group"><label for="id_password" class=" requiredField">
                            Password<span class="asteriskField">*</span> </label>
                            <div><input type="password" name="pswd" required autocomplete="current-password"
                                        class="textinput textInput form-control" required id="id_password"></div>
                        </div>

                        <button type="submit" class="btn btn-dark mb-2">Login</button>

                    </form>
                    {% if messages %}
                    {% for message in messages %}
                    <font color='RED'> {{ message }}</font>
                    {% endfor %}
                    {% endif %}
</div>

{%endblock%}